<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Gagnam Web Crawler</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    We are at the Gagnam Web Crawler domain
    <script src="javascripts/crawler/crawler-frontend.js"></script>
    <script src="javascripts/crawler/execute.js"></script>
</body>
</html>